header {
  
  direction: flex;
  flex-direction: row;
}
.main-menu {
  height: 5vh;
  margin: auto 0 auto 0;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid slategray;
  flex-wrap: wrap;
}
.menu-item {
  font-weight: bolder;
  font-size: 20px;
  color:SlateGrey;
  text-decoration: none;
}
.menu-item:hover {
  color: red;
}
main { min-height: 80vh; }
.main-text { margin-left: 20px; }
footer {
  border-top: 2px solid slategray;
}
/* @media (max-width: 1000px) {
  .main-menu { justify-content: left; }
  .menu-item:not(:first-child) { display: none; }
  .menu-item:first-child {
    margin-left: 10%;
    font-size: 26px;
  }
} */